# Gemini
GOOGLE_GEMINI_API_KEY=TU_API_KEY_DE_GEMINI

# Firebase Admin SDK
FIREBASE_PROJECT_ID=tu-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@tu-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=tu-project-id.appspot.com

# App
NEXT_PUBLIC_APP_NAME=Facturas AI
